In [6]:
# import packages
import requests
import pandas as pd
import numpy as np
import json

We define a function to obtain resale price data from data.gov.sg

In [8]:
def get_resale_price():
    # data.gov.sg api server
    SERVER = 'https://data.gov.sg/api/action/datastore_search?resource_id='

    # resources ID for the various HDB resale data ranges based on sale date
    RESOURCES = [
                # 2017 onwards
                '42ff9cfe-abe5-4b54-beda-c88f9bb438ee',
                # 2015 - 2016
                '1b702208-44bf-4829-b620-4615ee19b57c',
                # 2012-2014
                '83b2fc37-ce8c-4df4-968b-370fd818138b',
                # 2000-2012
                '8c00bf08-9124-479e-aeca-7cc411d884c4',
                # 1990-1999
                'adbbddd3-30e2-445f-a123-29bee150a6fe'
                ] 

    # limit needed if not default return is 100 records
    # there are approximately 50,000 - 350,000 maximum records per category
    LIMIT = '&limit=1000000'

    resalepricedf = pd.DataFrame()

    # for loop to pull and append data for HDB resale price information
    for resourceid in RESOURCES:
        url = SERVER + resourceid + LIMIT
        resp = requests.get(url)
        result = resp.json()
        result = result['result']['records']
        df = pd.DataFrame(result)
        resalepricedf = resalepricedf.append(df)

    print(resalepricedf.info())
    print(resalepricedf.head())

In [12]:
get_resale_price()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836330 entries, 0 to 287199
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   town                 836330 non-null  object
 1   flat_type            836330 non-null  object
 2   flat_model           836330 non-null  object
 3   floor_area_sqm       836330 non-null  object
 4   street_name          836330 non-null  object
 5   resale_price         836330 non-null  object
 6   month                836330 non-null  object
 7   remaining_lease      127276 non-null  object
 8   lease_commence_date  836330 non-null  object
 9   storey_range         836330 non-null  object
 10  _id                  836330 non-null  int64
 11  block                836330 non-null  object
dtypes: int64(1), object(11)
memory usage: 82.9+ MB
None
         town flat_type      flat_model floor_area_sqm        street_name  \
0  ANG MO KIO    2 ROOM        Improved             44  ANG MO KIO AVE 10
1  ANG MO KIO    3 ROOM  New Generation             67   ANG MO KIO AVE 4
2  ANG MO KIO    3 ROOM  New Generation             67   ANG MO KIO AVE 5
3  ANG MO KIO    3 ROOM  New Generation             68  ANG MO KIO AVE 10
4  ANG MO KIO    3 ROOM  New Generation             67   ANG MO KIO AVE 5

  resale_price    month     remaining_lease lease_commence_date storey_range  \
0       232000  2017-01  61 years 04 months                1979     10 TO 12
1       250000  2017-01  60 years 07 months                1978     01 TO 03
2       262000  2017-01  62 years 05 months                1980     01 TO 03
3       265000  2017-01   62 years 01 month                1980     04 TO 06
4       265000  2017-01  62 years 05 months                1980     01 TO 03

   _id block
0    1   406
1    2   108
2    3   602
3    4   465
4    5   601